#gmap_search {
    height: 700px;
    position: relative;
    width: 900px;
}
.actions {
    bottom: 30px;
    padding: 10px;
    position: absolute;
    right: 30px;
    z-index: 2;
}
.actions label {
    display: block;
    margin: 2px 0 5px 10px;
    text-align: left;
}
.actions input, .actions select {
    width: 85%;
}
.button {
    line-height: 1;
    margin-bottom: 5px;
    padding: 6px 0 7px 0;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 150px;
}
.button:hover {
    cursor: pointer;
}
.button:active {
    border: 1px solid #8c98a7;
}

body {
    background: rgba(220, 220, 220, 0.5);
}